/*
HTML structure

    <div class="copy"></div>

Notes:
  - the copy object is a container for "mostly unstructured"
    text content. It will typically contain paragraphs, lists, blockquotes, 
    etc.  The copy is likely to vary over the lifetime of the page, and 
    will not conform to any predefined structure, but it *should* use proper
    HTML semantics.

*/

.copy p,
.copy li {
    font-family:Museo500,Museo,Helvetica,Arial,sans-serif;
    font-size:123.1%;
    line-height:1.3;
}
.copy p {
    margin:1em 0;
}
.copy ul > li{
    list-style-type:square;
    margin-left:16px;
}
.copy .nobr {
    white-space:nowrap;
}

.copy input,
.copy select {
    color:#336;
    font-family:Museo500,Museo,Helvetica,Arial,sans-serif;
}
.copy input[type='submit'] {
    color:#000;
}
.copy input::-webkit-input-placeholder {
    color:#aaa;
}
.copy input:-moz-placeholder {
   color:#aaa;
}

.copy figure.flickr {
    margin:0 0 1em;
    overflow:hidden;
    position:relative;
    text-align:left;
}
.copy .flickrthumb {
    background:rgba(45,90,255,0.6);
    border-radius:5px;
    float:left;
    margin:0 5px 5px 0;
    padding:5px;
    vertical-align:middle;
}
.copy a.flickrthumb img {
    display:block;
}

/* Small copy */
.copy-small p,
.copy-small li {
    font-size:100%;
    margin:0.25em 0;
}

/* Centered copy */
.copy-centered {
    text-align:center;
}