@font-face {
    font-family: 'Museo500';
    src: url('../fonts/museo-500/Museo500-Regular-webfont.eot');
    src: url('../fonts/museo-500/Museo500-Regular-webfont.eot?iefix') format('eot'),
         url('../fonts/museo-500/Museo500-Regular-webfont.woff') format('woff'),
         url('../fonts/museo-500/Museo500-Regular-webfont.ttf') format('truetype'),
         url('../fonts/museo-500/Museo500-Regular-webfont.svg#webfontQF7qPaga') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Heading classes */
h1, .h1{font-size:196%}
h2, .h2{font-size:167%}
h3, .h3{font-size:146.5%}
h1,h2,h3,
.h1,.h2,.h3 {
    font-family:Museo500,Museo,Helvetica,Arial,sans-serif;
}
