/* html5 layout general */
article,section,header,footer,nav {
    display:block;
}
html {
    background:#030c07 url('../img/nasa/earth2.jpg') no-repeat 0 0;
    background-size:100% auto;
}
.pageContainer {
    margin:1em auto;
    max-width:720px;
}
.nobr {
    white-space:nowrap;
}