/* html5 layout general */
article,section,header,footer,nav {
    display:block;
}
html {
    background:#000904 url('../img/nasa/sts106-704-092_small.jpg') no-repeat 0 0;
    background-size:100% auto;
}
.pageContainer {
    margin:1em auto;
    max-width:720px;
}
